@import './mixins';

.scheduleShowCheck {
    @include scheduleShowStyle(#aaa, 0);
    li:nth-child(2) {
        color: #34495e;
        > p {
            border-bottom: 3px solid #34495e;
        }
    }
    > ul {
        @include phone {
            padding: 0;
        }
        @include pad {
            padding: 0;
        }
        > li {
            @include phone {
                padding: 0;
            }
            @include pad {
                padding: 0;
            }
            > p {
                @include phone {
                    font-size: fontSize(16px);
                }
                @include pad {
                    font-size: fontSize(16px);
                }
            }
        }
        > .scheduleShowAnother {
            color: #aaa;
            > p {
                border-bottom: 0;
            }
        }
    }
    
}

#successOrder {
    color: #34495e;
    > p {
        border-bottom: 3px solid #34495e;
    }
}
.CheckStyle {
    padding-left: 25%;
    font-family: $font-family-chinese2;
    margin-bottom: 2rem;
    @include phone {
        padding-left: 0;
    }
    @include pad {
        padding-left: 0;
    }
    > table {
        @include phone {
            max-width: 100%;
            flex: 0 0 100%;
        }
        @include pad {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
    > .CheckTableTitle {
        font-size: fontSize(22px);
        font-weight: bolder;
        color: #555;
    }
    .CheckHeadStyle {
        background-color: $primary;
        color: $white;
        font-size: fontSize(18px);
        td {
            padding: 0.4rem 0.8rem;
        }
    }
    .CheckBodyStyle {
        font-size: fontSize(16px);
        tr:nth-child(odd) {
            background-color: #eee;
        }
        tr:nth-child(even) {
            background-color: $white;
        }
        td {
            padding: 0.4rem 0.8rem;
            color: #888;
        }
    }
    > .CheckTotal {
        text-align: right;
        color: #888;
        font-size: fontSize(16px);
        @include phone {
            max-width: 100%;
            flex: 0 0 100%;
        }
        @include pad {
            max-width: 100%;
            flex: 0 0 100%;
        }
        > strong {
            font-size: fontSize(30px);
            font-family: Arial, sans-serif;
            color: $black;
            padding-left: 0.5rem;
            font-weight: lighter;
        }
    }
    > .CheckBtn {
        margin-top: 1rem;
        margin-bottom: 1rem;
        @include phone {
            max-width: 100%;
            flex: 0 0 100%;
        }
        @include pad {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}
